body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #1C1C1C;
}

.header {
    /* Created with https://www.css-gradient.com */
    background: #D41DF2;
    background: -webkit-linear-gradient(top left, #D41DF2, #7688DC);
    background: -moz-linear-gradient(top left, #D41DF2, #7688DC);
    background: linear-gradient(to bottom right, #D41DF2, #7688DC);
    padding: 1em;
    text-align: center;
}

.card {
    border: solid white;
    max-width: 600px;
    margin: 4em auto;
    border-radius: .5em;
}

.text-box {
    background: #1F2937;
    padding: 1em;
}

h1 {
    margin-top: 0;
}

input {
    padding: .25em;
    border-radius: .5em;
    border: none;
}

button {
    border-radius: .5em;
    border: none;
    padding: .25em .5em;
}